TelematicsService/Connected Services/DAL.ExternalServices/GeoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsd1="http://1ckab.ru/telematics/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soapbind="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12bind="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:tns="http://1ckab.ru/telematics/" name="GeoService" targetNamespace="http://1ckab.ru/telematics/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema xmlns:xs1="http://1ckab.ru/telematics/" elementFormDefault="qualified" targetNamespace="http://1ckab.ru/telematics/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="PutPosData">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Id" type="xs:unsignedInt" />
            <xs:element name="Time" type="xs:dateTime" />
            <xs:element name="Latitude" type="xs:float" />
            <xs:element name="Longitude" type="xs:float" />
            <xs:element name="Direction" type="xs:unsignedShort" />
            <xs:element name="Speed" type="xs:unsignedShort" />
            <xs:element name="Odometer" type="xs:float" />
            <xs:element name="Valid" type="xs:boolean" />
            <xs:element name="Actual" type="xs:boolean" />
            <xs:element name="Moving" type="xs:boolean" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="PutPosDataResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:boolean" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </types>
  <message name="PutPosDataRequestMessage">
    <part name="parameters" element="tns:PutPosData" />
  </message>
  <message name="PutPosDataResponseMessage">
    <part name="parameters" element="tns:PutPosDataResponse" />
  </message>
  <portType name="GeoServicePortType">
    <operation name="PutPosData">
      <input message="tns:PutPosDataRequestMessage" />
      <output message="tns:PutPosDataResponseMessage" />
    </operation>
  </portType>
  <binding name="GeoServiceSoapBinding" type="tns:GeoServicePortType">
    <soapbind:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="PutPosData">
      <soapbind:operation soapAction="http://1ckab.ru/telematics/#GeoService:PutPosData" style="document" />
      <input>
        <soapbind:body use="literal" />
      </input>
      <output>
        <soapbind:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="GeoServiceSoap12Binding" type="tns:GeoServicePortType">
    <soap12bind:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="PutPosData">
      <soap12bind:operation soapAction="http://1ckab.ru/telematics/#GeoService:PutPosData" style="document" />
      <input>
        <soap12bind:body use="literal" />
      </input>
      <output>
        <soap12bind:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="GeoService">
    <port name="GeoServiceSoap" binding="tns:GeoServiceSoapBinding">
      <documentation>
        <wsi:Claim xmlns:wsi="http://ws-i.org/schemas/conformanceClaim/" conformsTo="http://ws-i.org/profiles/basic/1.1" />
      </documentation>
      <soapbind:address location="http://1c-pm2.r-service.net/ssmp_geo/ws/geo.1cws" />
    </port>
    <port name="GeoServiceSoap12" binding="tns:GeoServiceSoap12Binding">
      <soap12bind:address location="http://1c-pm2.r-service.net/ssmp_geo/ws/geo.1cws" />
    </port>
  </service>
</definitions>